sudo nano /usr/local/freemind/freemind.desktop 

[Desktop Entry]
Categories=
Comment=FreeMind
Comment[en]=FreeMind
Encoding=UTF-8
Exec=/usr/local/freemind/freemind.sh
GenericName=
GenericName[en]=
Icon=
MimeType=
Name=FreeMind
Name[en]=FreeMind
Path=/usr/local/freemind
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=
TerminalOptions=
Type=Application
URL=
X-KDE-SubstituteUID=false
X-KDE-Username=root

sudo cp /usr/local/freemind/freemind.desktop  /usr/share/applications/